:root {
    --primary-color: #ffffff;
    --secondary-color: #2b2b2b;
    --background-color: black;
    --font-family: 'Courier New', Courier, monospace;
    --font-size-large: 1.5rem;
    --font-size-medium: 1.3rem;
    --font-size-small: 0.875rem;
    --transition-duration: 0.3s;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    font-family: var(--font-family);
    color: var(--primary-color);
}

* {
    box-sizing: border-box;
    color: #ffffff;
    font-family: sans-serif;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: var(--background-color);
}

/* NAVBAR START */
nav {
    width: 100%;
    padding: 0.625rem;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: right;
    font-size: var(--font-size-large);
}

nav .image-container {
    position: relative;
    display: inline-block;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

nav li {
    margin: 0 0.9375rem;
}

nav li a {
    color: var(--primary-color);
    text-decoration: none;
    padding: 0.625rem;
    display: block;
    position: relative;
}

nav li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0.125rem;
    display: block;
    margin-top: 0.3125rem;
    right: 0;
    background: var(--primary-color);
    transition: width var(--transition-duration) ease;
}

nav li a:hover::after {
    width: 100%;
    left: 0;
    background: var(--primary-color);
}

/* NAVBAR END */

/* CONTENT START */
.index-content {
    margin-top: 14rem;
    z-index: 1;
}

.mytext {
    margin: 10rem;
}

.socials {
    display: flex;
    position: relative;
}

.socials img {
    width: 3rem;
}

.github-container,
.linkedin-container,
.thm-container,
.gitlab-container {
    margin-right: 0.5rem;
}

.github-container img,
.linkedin-container img,
.thm-container img,
.gitlab-container img {
    border-radius: 5px;
}

/* BANNER START */
.banner {
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: space-between;
    color: var(--primary-color);
    margin: 6.25rem 6.25rem 22rem;
}

.code-window {
    width: 35%;
    height: 25rem;
    background-color: var(--secondary-color);
    color: #cfcfcf;
    padding: 1.25rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.code-animation {
    margin: 0;
    white-space: pre-wrap;
    font-family: var(--font-family);
    font-size: var(--font-size-small);
    overflow: hidden;
    max-height: 25rem;
    overflow-y: auto;
}

/* BANNER END */

/* ABOUT START */
.about {
    font-size: var(--font-size-medium);
    margin: 10.25rem;
}

.about-container {
    margin: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.resume {
    flex: 1;
    margin-top: 10vh;
    margin-left: 8vw;
}

.profile {
    flex: 1;
}

/* ABOUT END */

/* SKILLS START */
.skills {
    padding: 20px;
}

.item {
    margin-bottom: 20px;
}

.progress-bar {
    background-color: var(--secondary-color);
    height: 100%;
    width: 0;
    transition: width var(--transition-duration) ease;
}

.skills .item-text .w-75 {
    width: 75%;
}

/* SKILLS END */

.end {
    width: auto;
    font-size: 1.25rem;
    padding: 0;
    min-height: 18.75rem;
    margin: 18.75rem 5rem;
    text-align: center;
    font-size: 1.5625rem;
    color: var(--primary-color);
}

/* CONTENT END */

.modal {
    z-index: 1050;
}

.modal-header,
.modal-header .modal-body,
.modal-content p,
.modal-content ul li {
    color: #000;
}

.modal-backdrop {
    z-index: 1040;
}

/* PROJECTS_PAGE.HTML STYLES */
.p-content {
    text-align: center;
    margin-bottom: 10rem;
}

.hero {
    margin: 100px;
    text-align: center;
}

.image-container {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 600px;
    height: auto;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter var(--transition-duration) ease;
}

.image-container:hover .image {
    filter: blur(10px);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity var(--transition-duration) ease;
    text-align: center;
}

.image-container:hover .overlay {
    opacity: 1;
}

.content {
    padding: 20px;
}

.details {
    margin-bottom: 20px;
}

.references a img {
    width: 5rem;
    height: auto;
}

/* projects page end */

/* footer */
.footer {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-align: center;
    height: 14rem;
    padding: 2rem;
    margin-top: 20rem;
}

.footer-text {
    margin-top: 3rem;
}

/* MEDIA QUERIES */
@media (max-width: 1200px) {
    .banner {
        flex-direction: column;
        margin: 3.125rem 3.125rem 9.375rem;
    }

    .code-window {
        width: 100%;
        margin-top: 1.25rem;
    }
}

@media (max-width: 992px) {
    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav li {
        margin: 0.625rem 0;
    }

    .banner {
        margin: 3.125rem 1.25rem 9.375rem;
    }

    .skills,
    .projects,
    .about {
        margin: 3.125rem 1.25rem;
    }

    .end {
        margin: auto;
    }

    .s-cards .card img .card img {
        height: auto;
    }
}

@media (max-width: 768px) {
    .s-cards {
        flex-direction: column;
    }

    .code-window {
        height: auto;
    }

    .about-container {
        flex-direction: column;
    }

    .profile,
    .resume {
        margin: 0 0 1.25rem;
    }
}

@media (max-width: 576px) {
    nav {
        text-align: left;
        padding: 0.625rem 1.25rem;
    }

    .banner {
        margin: 3.125rem 0.625rem 6.25rem;
    }

    .skills,
    .projects,
    .about,
    .end {
        margin: 1.25rem 0.625rem;
    }

    .mytext h1 {
        font-size: 1.5rem;
    }

    .mytext h4 {
        font-size: 1.125rem;
    }

    .about p,
    .end p {
        font-size: 1.125rem;
    }

    .s-title {
        font-size: 1.5rem;
    }
}

@media (max-width: 400px) {
    .banner {
        margin: 3.125rem 0.3125rem 6.25rem;
    }

    .skills,
    .projects,
    .about,
    .end {
        margin: 1.25rem 0.3125rem;
    }
}
