body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

* {
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: black;
}

/* NAVBAR START */
nav {
    width: 100%;
    padding: 0.625rem;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: right;
    font-size: 1.5rem;

    .image-container {
        position: relative;
        display: inline-block;
    }
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

nav li {
    margin: 0 0.9375rem;
}

nav li a {
    color: white;
    text-decoration: none;
    padding: 0.625rem;
    display: block;
    position: relative;
}

nav li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0.125rem;
    display: block;
    margin-top: 0.3125rem;
    right: 0;
    background: white;
    transition: width 0.3s ease;
    -webkit-transition: width 0.3s ease;
}

nav li a:hover::after {
    width: 100%;
    left: 0;
    background: white;
}

/* NAVBAR END */


/* CONTENT START */
.index-content {
    margin-top: 14rem;
    z-index: 1;
}

.mytext {
    margin: 10rem;
}


.socials {
    display: flex;
    position: relative;
}

.socials img {
    width: 3rem;
}

.github-container {
    margin-right: 0.5rem;
}

.github-container img {
    border-radius: 5px;
}

.linkedin-container {
    margin-right: 0.5rem;
}

.thm-container img {
    border-radius: 5px;
}

.thm-container {
    margin-right: 0.5rem;
}

.gitlab-container img {
    border-radius: 5px;
}

.gitlab-container {
    margin-right: 0.5rem;
}

/* BANNER START */
.banner {
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: space-between;
    color: white;
    margin: 6.25rem 6.25rem 22rem;
}

.code-window {
    width: 35%;
    height: 25rem;
    background-color: #2b2b2b;
    color: #cfcfcf;
    padding: 1.25rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.code-animation {
    margin: 0;
    white-space: pre-wrap;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.875rem;
    overflow: hidden;
    max-height: 25rem;
    overflow-y: auto;
}

/* BANNER END */


/* ABOUT START */
.about {
    font-size: 1.5rem;
    margin: 6.25rem;
}

.about-container {
    margin: 10vh 0 40vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.resume {
    flex: 1;
    margin-left: 10vw;
}

.profile {
    flex: 1;
}

/* ABOUT END */

/* SKILLS START */

.skills {
    padding: 20px;
}

.item {
    margin-bottom: 20px;
}


.progress-bar {
    background-color: #2b2b2b;
    height: 100%;
    width: 0;
    transition: width 0.3s ease;
}

.skills .item-text .w-75 {
    width: 75%;
}


/* SKILLS END */

.end {
    width: auto;
    font-size: 1.25rem;
    padding: 0;
    min-height: 18.75rem;
    margin: 18.75rem 5rem;
    text-align: center;
    font-size: 1.5625rem;
    color: #ffffff;
}

/* CONTENT END */


.modal {
    z-index: 1050;
}

.modal-header {
    color: #000;
}

.modal-header .modal-body {
    color: #000;
}

.modal-backdrop {
    z-index: 1040;
}

/* PROJECTS_PAGE.HTML STYLES */
.p-content {
    text-align: center;
    margin-bottom: 10rem;
}

.hero {
    margin: 100px;
    text-align: center;
}

.image-container {
    position: relative;
    display: inline-block;
    width: 600px;
    height: 400px;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.3s ease;
}

.image-container:hover .image {
    filter: blur(5px);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
}

.image-container:hover .overlay {
    opacity: 1;
}

.content {
    padding: 20px;
}

.details {
    margin-bottom: 20px;
}

.references a img {
    width: 5rem;
    height: auto;
}

.modal-content p {
    color: #000;
}

.modal-content ul li {
    color: #000;
}

/* projects page end */

/* footer */
.footer {
    background-color: #2b2b2b;
    color: #fff;
    text-align: center;
    height: 14rem;
    padding: 2rem;
    margin-top: 20rem;
}

.footer-text {
    margin-top: 3rem;
}



/* MEDIA QUERIES */
@media (max-width: 1200px) {
    .banner {
        flex-direction: inline-block;
        margin: 3.125rem 3.125rem 9.375rem;
    }

    .code-window {
        width: 100%;
        margin-top: 1.25rem;
    }
}

@media (max-width: 992px) {
    nav ul {
        flex-direction: inline-block;
        align-items: flex-start;
    }

    nav li {
        margin: 0.625rem 0;
    }

    .banner {
        margin: 3.125rem 1.25rem 9.375rem;
    }

    .skills,
    .projects,
    .about {
        margin: 3.125rem 1.25rem;
    }

    .end {
        margin: auto;
    }

    .s-cards .card img .card img {
        height: auto;
    }
}

@media (max-width: 768px) {
    .s-cards {
        flex-direction: inline-block;
    }

    .code-window {
        height: auto;
    }

    .about-container {
        flex-direction: inline-block;
    }

    .profile,
    .resume {
        margin: 0 0 1.25rem;
    }
}

@media (max-width: 576px) {
    nav {
        text-align: left;
        padding: 0.625rem 1.25rem;
    }

    .banner {
        margin: 3.125rem 0.625rem 6.25rem;
    }

    .skills,
    .projects,
    .about,
    .end {
        margin: 1.25rem 0.625rem;
    }

    .mytext h1 {
        font-size: 1.5rem;
    }

    .mytext h4 {
        font-size: 1.125rem;
    }

    .about p,
    .end p {
        font-size: 1.125rem;
    }

    .s-title {
        font-size: 1.5rem;
    }
}

@media (max-width: 400px) {
    .banner {
        margin: 3.125rem 0.3125rem 6.25rem;
    }

    .skills,
    .projects,
    .about,
    .end {
        margin: 1.25rem 0.3125rem;
    }
}